input[type="text"]
{
    font-family: "Open Sans";
    font-size:31px;
}

.pagina-titel {
    margin: 50px 116px 55px;
}

.pagina-titel h3 {
	height: 59px;
	color: #E3147E;
	font-family: "Open Sans";
	font-size: 36px;
	font-weight: bold;
	line-height: 49px;
}

.navbario {
    width: 100vw;
}

.form-container {
	height: 2282px;
	width: 1010px;
	background-color: #FFFFFF;
    box-shadow: 0 4px 11px 2px rgba(0,0,0,0.07);
    margin: 20px 210px 102px
}

.progress-bar {
	height: 116px;
    width: 847px;
    margin: 57px 50px 0px;
    background-color: #FFFFFF;
    display: block;
}

.progress-ovals{
    list-style-type: none;
    padding: 0;
    display: block;
}
#progress-oval-1 {
	height: 56.7px;
    width: 56.7px;
    border-radius: 100%;
    background-color: #E3147E;
    display: inline-block;
}

#progress-oval-1 p {
    color: #FFFFFF;	font-family: "Open Sans";	font-size: 21.6px;	font-weight: bold;	line-height: 50px;
    display: inline-block;
}

.progress-oval {
    border-radius: 100%;
	box-sizing: border-box;
	height: 56.7px;
	width: 56.7px;
    border: 4.5px solid rgba(227,20,126,0.14);
    display: inline-block;
    margin: 55.5px 40px 10px;
}

.progress-oval p {
    font-family: "Open Sans";	font-size: 21.6px; color: rgba(227,20,126,0.14);	font-weight: bold;	line-height: 50px;
    display: inline-block;
}

.progress-text {
    margin-left: -90px;
}

.progress-oval-text {
    margin-top: 25px;
    margin-bottom: 35px;
    margin-left: 50px;
    color: #E3147E;
    font-family: "Open Sans";
    font-size: 14;
    font-weight: bold;
    line-height: 29px;
    display: inline-block;
}

.informatie-vooraf {
	height: 396px;
    width: 758px;
    margin: 50px 116px 67px;
}

.informatie-vooraf h3 {
	height: 59px;
	width: 702px;
	color: #E3147E;
	font-family: "Open Sans";
	font-size: 36px;
	font-weight: bold;
	line-height: 49px;
}

.informatie-vooraf p {
	width: 698px;
	color: #000000;
	font-family: "Open Sans";
	font-size: 20px;
	line-height: 31px;
}

.informatie-vooraf ul {
    height: 171px;
    overflow: hidden;
}

.tussenscheiding-1 {
	box-sizing: border-box;
    height: 3px;
    margin: 0 5% 0;
	width: 90%;
	border: 2px solid #979797;
}

.persoonlijke-gegevens-titel{
    margin: 30px 72px 45px;
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

#sub-title {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

.persoonlijke-gegevens-titel h3 {
    height: 61px;
    width: 668px;	
    color: #E3147E;	
    font-family: "Open Sans";	
    font-size: 24px;	
    font-weight: bold;	
    line-height: 33px;
    display: block;
}

.geslacht-box {
	height: 126px;
	width: 152.26px;
	border: 1px solid #E3147E;
	border-radius: 4px;
    transition: border  linear .1s;
    -webkit-transition: border linear .1s /* Safari */
}

#geslacht-box-m {
    margin-left: 119px;
}

#geslacht-box-f {
    margin-left: 37px;
}

.geslacht-box:hover {
    cursor: pointer;
    border: 3px solid #E3147E;
}

#persoonlijke-gegevens-form {
    margin-left: 119px;
}

#persoonlijke-gegevens-form input {
	height: 64px;
    width: 673px;
	border: 1px solid #9B9B9B;
    background-color: #FFFFFF;
    margin-left: 0;
}

.beperking-keuze {
	height: 334px;
    width: 690px;
    margin: 30px 119px 52px;
}

#beperking-keuze-titel {
    font-size: 20px;
    font-weight: bold;
}

.beperking-keuze p {
    font-family: "Open Sans";
    font-size: 18px;
}

.beperking-alert {
	height: 122.66px;
	width: 672.54px;
	border-radius: 4px;
    background-color: rgba(227,20,126,0.25);
    display: inline-block;
}

.beperking-alert-item-1 {
    margin: 15px 13px;
    display: inline-block;
}
.beperking-alert-item-2 {
    margin-left: 48px;
    margin-right: 54px;
    margin-top: -35px;
}

.beperking-alert p {
    height: 90.3px;
    width: 568.94px;
	color: #000000;
	font-family: "Open Sans";
	font-size: 18px;
    line-height: 29px;
    display: inline;
}

#beperking-form {
    margin-top: 15px;
}

#beperking-form input {
	height: 16px;
	width: 16px;
	border: 1px solid #CCCCCC;
	border-radius: 2px;
	background-color: #FFFFFF;

}

.beperking-form-extra {
    /* display: hidden; */
    display: block;
}

.beperking-form-extra-alert {
    height: 55.2px;
	width: 667.85px;
	border-radius: 4px;
    background-color: rgba(227,20,126,0.25);
    display: inline-block;
}

.beperking-form-extra-alert-item-1 {
    margin-left: 13px;
    display: inline-block;
}

.beperking-form-extra-alert-item-2 {
    margin-top: 14.5px;
    margin-left: 15px;
    display: inline-block;
}

.formulier-submit {
    float: right;
    margin-top: 32px;
    margin-right: 98px;
    margin-bottom: 35px;
	height: 64px;
	width: 312px;
	border: 2.5px solid #E3147E;
    border-radius: 4px;
    color: #E3147E;	font-family: "Open Sans";	font-size: 20px;	font-weight: bold;	line-height: 27px;	text-align: center;
    cursor: pointer;
}

.formulier-submit img {
    margin-left: 70px;
    margin-right: -90px;
}

.cart-boxes-wrapper {
    margin-left: 40px;
    margin-bottom: 50px;
}

.cart-box {
    cursor: pointer;
    margin-top: 39px;
    margin-right: 30px;
	height: 170px;
	width: 322px;
	border: 5px solid #E3147E;
    border-radius: 4px;
    color: #E3147E;
    font-size: 34px;
}

.cart-box:hover {
    background-color: #E3147E;
    color: #FFFFFF;
}

.bewijsstukken-wrapper {
    margin-left: 40px;
}

.bewijsstuk-bestand {
	height: 64px;
	width: 312px;
	border-radius: 4px;
    background-color: #E3147E;
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 51px;
}

.bewijsstuk-bestand img {
    margin-right: 22px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
}

.modal-content h3 {
    margin-left: 105px;
    font-weight: bold;
    font-size: 36px;
}

/* The Close Button */
.close {
    color: #E3147E;
    margin-left: 97%;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.upgeload-bestand {
    margin-left: 49px;
	height: 138px;
	width: 815px;
	border: 2px solid #9B9B9B;
	border-radius: 3px;
}

.upgeload-bestand p {
    font-size: 18px;
    font-weight: bold;
    font-family: "Open Sans";
}

.formulier-redo {
    float: left;
    margin-top: -100px;
    margin-right: 98px;
    margin-bottom: 35px;
	height: 64px;
	width: 312px;
	border: 2.5px solid #9B9B9B;
    border-radius: 4px;
    color: #9B9B9B;	font-family: "Open Sans";	font-size: 20px;	font-weight: bold;	line-height: 27px;	text-align: center;
    cursor: pointer;
}